.tabs {
  width: 100%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.tabs .tab {
  --radius: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 12px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1;
  text-transform: capitalize;
  color: #666;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid var(--color-border);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.tabs .tab.active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: #fff;
}

.tabs .tab:first-of-type {
  border-right: none;
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.tabs .tab:last-of-type {
  border-left: 0;
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.tab-content {
  display: none;
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}

.tab-content.active {
  display: block;
}

.tab-content.show {
  opacity: 1;
  -webkit-transition: opacity .25s ease-in-out;
  transition: opacity .25s ease-in-out;
}
