<div class="update-model settings" id="update-model">
            <div class="model-wrap bk-set">
                <div class="model-body update-model">
                    <h3>
                        {{__MSG_up_msg1__}} {{ version }}
                    </h3>

                    <h4 class="text-light">{{__MSG_whats_new__}}</h4>

                    <ul>
                        <li>
                            {{__MSG_up_msg2__}}
                        </li>

                        <li>
                            {{__MSG_up_msg3__}}
                        </li>

                        <li>
                            {{__MSG_up_msg4__}}
                        </li>

                        <li>
                            {{__MSG_up_msg5__}}
                        </li>

                        <li>
                            {{__MSG_up_msg6__}}
                        </li>

                        <li>
                            {{__MSG_up_msg7__}}
                        </li>

                        <li>
                            {{__MSG_up_msg8__}}
                        </li>

                    </ul>

                    <a href="#" id="ok" class="fr-cta btn-transparent np-cp">
                        {{__MSG_up_msg9__}}
                    </a>
                </div>
            </div>
        </div>